body{
    background-color: rgb(165, 216, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.cont{
    display: grid;
    padding: 1vw;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background-color: rgb(165, 216, 255);
    position: absolute;
    height: 45.5vw;
    width: 25vw;
    padding-left: 1vw;
}

.iconot{
    width: 2vw;
}

.todo{
    width: 1.5vw;
}

.abri{
    width: 1.5vw;
}

.cam{
    width: 1.5vw;
}

.pnt{
    width: 1.5vw;
}

.carr{
    width: 1.5vw;
}

.camp{
    position: absolute;
    width: 3vw;
    top: 42.5vw;
    left: 3.5vw;
}

.log{
    font-size: 2vw;
    margin-left: 2cm;
}

.nav a{
    text-decoration: none;
    color: black;
}

.nav p{
    margin-left: 6vw;
    margin-top: -5vw;
    font-size: 1vw;
}

.tex4{
    padding: 0.2vw;
    border-radius: 1vw;
    background-color: rgb(175, 208, 214);
}

.prod{
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: auto;
    background-color: rgb(175, 208, 214);
    border-radius: 1vw;
    position: absolute;
    height: 45.5vw;
    width: 70vw;
    left: 27vw;
    padding-right: 1vw;

}

.tit{
    margin-left: 1vw;
}

.pro1{
    position: absolute;
    border-radius: 1vw;
    border: 1px solid black;
    width: 10vw;
    margin: 1vw;
    height: 14vw;
}

.Cpro1{
    font-size: 0.7vw;
    background-color: white;
    border-radius: 1vw;
    border: 1px solid black;
    position: absolute;
    width: 10vw;
    height: 4vw;
    margin-top: 13vw;
    left: 1vw;
}

.Npro1{
    margin: 0.3vw;
}

.pre1{
    margin-left: 0.5vw;
}

.Bagr1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    border-radius: 1VW;
    background-color: rgb(175, 208, 214);
    width: 4VW;
    height: 1.5vw;
    left: 5.5vw;
    top: 2vw;
}

.pro2{
    position: absolute;
    left: 18vw;
    border-radius: 1vw;
    border: 1px solid black;
    width: 10vw;
    height: 16vw;
    margin: 1vw;
}

.Cpro2{
    font-size: 0.7vw;
    background-color: white;
    border-radius: 1vw;
    border: 1px solid black;
    position: absolute;
    width: 10vw;
    height: 4vw;
    margin-top: 13vw;
    left: 19vw;
}

.Npro2{
    margin: 0.3vw;
}

.pre2{
    margin-left: 0.5vw;
}

.Bagr2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    border-radius: 1VW;
    background-color: rgb(175, 208, 214);
    width: 4VW;
    height: 1.5vw;
    left: 5.5vw;
    top: 2vw;
}

.pro3{
    position: absolute;
    border-radius: 1vw;
    border: 1px solid black;
    width: 10vw;
    margin: 1vw;
    left: 35vw;
}

.Cpro3{
    font-size: 0.7vw;
    background-color: white;
    border-radius: 1vw;
    border: 1px solid black;
    position: absolute;
    width: 10vw;
    height: 4vw;
    margin-top: 13vw;
    left: 36vw;
}

.Npro3{
    margin: 0.3vw;
}

.pre3{
    margin-left: 0.5vw;
}

.Bagr3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    border-radius: 1VW;
    background-color: rgb(175, 208, 214);
    width: 4VW;
    height: 1.5vw;
    left: 5.5vw;
    top: 2vw;
}

.pro4{
    position: absolute;
    border-radius: 1vw;
    border: 1px solid black;
    width: 10vw;
    height: 14vw;
    margin: 1vw;
    left: 52vw;
}

.Cpro4{
    font-size: 0.7vw;
    background-color: white;
    border-radius: 1vw;
    border: 1px solid black;
    position: absolute;
    width: 10vw;
    height: 4vw;
    margin-top: 13vw;
    left: 53vw;
}

.Npro4{
    margin: 0.3vw;
}

.pre4{
    margin-left: 0.5vw;
}

.Bagr4{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    border-radius: 1VW;
    background-color: rgb(175, 208, 214);
    width: 4VW;
    height: 1.5vw;
    left: 5.5vw;
    top: 2vw;
}

.pro5{
    position: absolute;
    border-radius: 1vw;
    border: 1px solid black;
    width: 10vw;
    height: 14vw;
    margin: 1vw;
    left: 0vw;
    top: 23vw;
}

.Cpro5{
    font-size: 0.7vw;
    background-color: white;
    border-radius: 1vw;
    border: 1px solid black;
    position: absolute;
    width: 10vw;
    height: 4vw;
    margin-top: 13vw;
    left: 1vw;
    top: 23vw;
}

.Npro5{
    margin: 0.3vw;
}

.pre5{
    margin-left: 0.5vw;
}

.Bagr5{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    border-radius: 1VW;
    background-color: rgb(175, 208, 214);
    width: 4VW;
    height: 1.5vw;
    left: 5.5vw;
    top: 2vw;
}